<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.username">simon</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernatedb</property>



        <property name="connection_pool_size">1</property>

        <property name="hbm2ddl.auto">create</property>

        <property name="show_sql">true</property>



       <mapping class="ch.fhnw.dbc.project3_hibernate.Access"/>
       <mapping class="ch.fhnw.dbc.project3_hibernate.Domain"/>
       <mapping class="ch.fhnw.dbc.project3_hibernate.Hostname"/>
       <mapping class="ch.fhnw.dbc.project3_hibernate.OAuth"/>
       <mapping class="ch.fhnw.dbc.project3_hibernate.Role"/>
       <mapping class="ch.fhnw.dbc.project3_hibernate.Subdomain"/>
       <mapping class="ch.fhnw.dbc.project3_hibernate.User"/>
       <mapping class="ch.fhnw.dbc.project3_hibernate.Website"/>

    </session-factory>
</hibernate-configuration>